@model IEnumerable<IssuingInvoices.Models.Product>

@{
    ViewBag.Title = "Stvaranje proizvoda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stvaranje proizvoda</h2>

<p>
    @Html.ActionLink("Kreiraj novi proizvod", "Kreiraj")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NettoPrice)
        </th>
        <th></th>
        <th>Check</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NettoPrice)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Uredi", new { id=item.ProductId }) |
            @Html.ActionLink("Detalji", "Detalji", new { id=item.ProductId }) |
            @Html.ActionLink("Izbriši", "Izbriši", new { id=item.ProductId })
        </td>
        <td>
            @Html.CheckBox("Check")
        </td>
    </tr>
}

</table>
