@model IEnumerable<IssuingInvoices.Models.Product>

@{
    /**/

        ViewBag.Title = "Proizvodi";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proizvodi</h2>
<button class="btn-default">
    @Html.ActionLink("Kreiraj novi proizvod", "Create")
</button>
<hr />
@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" name="submitSearch" value="Traži" class="glyphicon-search"/>
}
@using (Html.BeginForm("SubmitSelected", "Invoices", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <table class="table">
        <tr>
            <th>
                Opis
            </th>
            <th>
                Količina
            </th>
            <th>
                Jedinična cijena bez poreza
            </th>
            <th>
                Ukupna cijena bez poreza
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NettoPrice)
                </td>
                <td>
                    @Html.ActionLink("Dodaj", "Add", new { id = item.ProductId }) |
                    @Html.ActionLink("Uredi", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }
    </table>
    <hr />
    <input type="submit" name="operation" id="submit" value="Spremi" class="btn-success"/>
    <button class="btn-danger" id="cancel">Odbaci</button>
}

